@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('../Font-Awesome/all.min.css');

:root {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(6, 8, 129);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    margin: 10px;
}