@import url('mainstyle.css');
@import url('navbar.css');
@import url('footer.css');

body {
    background-color: rgb(255, 255, 255);
    border-radius: 10px
}

#main-content {
    margin-top: 120px;
    margin-bottom: 120px;
}

.card {
    width: 500px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}


.number {
    font-weight: 500
}

.flex-column {
    margin-left: 20px;
    padding: 10px;
}

.feild {
    font-size: 10px;
    color: #a1aab9;
}